@model IEnumerable<RunForHope.Models.Participantes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- Información de identificación -->
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>

            <!-- Información personal -->
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discapacidad)
            </th>

            <!-- Información de contacto -->
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>

            <!-- Información médica -->
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>

            <!-- Información de registro -->
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>

            <th></th> <!-- Acciones (Edit, Details, Delete) -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!-- Información de identificación -->
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>

                <!-- Información personal -->
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discapacidad)
                </td>

                <!-- Información de contacto -->
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTelefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distrito)
                </td>

                <!-- Información médica -->
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSangre)
                </td>

                <!-- Información de registro -->
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>

                <!-- Acciones -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>